<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
        <httpErrors>
                <error statusCode="403" subStatusCode="6" path="/Maintenance/index.php" responseMode="ExecuteURL" />
        </httpErrors>
        </system.webServer>
    </location>
    <system.net>
        <mailSettings>
            <smtp>
                <network defaultCredentials="false" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
