* {
padding: 0px;
margin: 0px;
}

.searchResults{
	vertical-align: top;
}

.imageSearchCard{
	vertical-align: top;
	display: inline-block;
	border: 1px solid #000;
	width: 350px;
	height: 225px;
	margin: 10px;
	position: relative;
}

.imageSearchImg{
	background: #eee;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.imageSearchInfo{
	background: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
}